<h1>Assignment Details</h1>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<h1>Reports</h1>
<% if current_user.role == "Student" %>
  <%= link_to 'New Report', new_group_assignment_report_path(@group, @assignment) %>
<% end %>
<br>

<% if current_user.role == "Teacher" %>
  <%= link_to 'Edit Assignment', edit_group_assignment_path(@group, @assignment) %> |
<% end %>
<%= link_to 'Back', group_path(@group) %>
